---
---

@import "{{ site.theme }}";
table, caption, tbody, tfoot, thead, tr, th, td
{
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 1;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
}
table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ffffff;
}
